[Unit]
Description=Nvidia Tesla fan control service
After=lm-sensors.service

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/tesla_fan_control.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
